PORT=3001
JWT_SECRET=change-me

# Example:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mosk?schema=public
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?schema=public

# During local dev you can allow any origin:
CORS_ORIGIN=http://localhost:5173

